#dark-sources-settings {
    max-width: 1000px !important;
    margin: auto !important;
    padding-top: 60px !important;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 500 !important;
}
#dark-sources-settings img {
    display: block !important;
    margin: auto !important;
    margin-bottom: 60px !important;
}
#dark-sources-settings label {
    font-weight: 600 !important;
    margin: 10px 10px 10px 0 !important;
    display: inline-block !important;
}

#dark-sources-settings label.number-label {
    min-width: 300px !important;
}

#dark-sources-settings input:not(.checkbox), #dark-sources-settings textarea {
    width: 100% !important;
    padding: 10px !important;
    border-radius: 10px !important;
    margin: 10px 0 !important;
    font-weight: 300 !important;
}

#dark-sources-settings input[type="checkbox"]{
    margin-left: 20px;
}

#dark-sources-settings input.number {
    width: 10% !important;
    text-align: right !important;
    min-width: 75px !important;
    margin-right: 10px !important;
}

#dark-sources-settings p {
    font-weight: 300 !important;
}
#dark-sources-settings textarea {
    height: 250px;
    width: 100% !important;
}
#dark-sources-settings .input-wrap {
    width: 100% !important;
    overflow: hidden;
}
#dark-sources-settings .custom-trigger {
    margin-left: 15px !important;
    font-size: 12px !important;
}
#dark-sources-settings h2 {
    text-decoration: underline !important;
    margin:2em 0 !important;
}

#dark-sources-settings #registration-information {
    margin-bottom: 30px !important;
}

#dark-sources-settings input.button, #dark-sources-settings .button {
    display: block !important;
    margin: 10px 0 auto auto !important;
    background-color: #0073aa !important;
    color: #FFF !important;
    border: none !important;
    transition: background-color 0.15s linear !important;
    -webkit-transition: background-color 0.15s linear !important;
    -moz-transition: background-color 0.15s linear !important;
    -o-transition: background-color 0.15s linear !important;
    padding: auto !important;
    height: 50px !important;
    width: 200px !important;
    font-weight: 600 !important;
}
#dark-sources-settings input.button:hover {
    background-color: #23282d !important;
}
#dark-sources-settings .is-dismissible {
    padding: 10px !important;
    background-color: #24a83a !important;
    color: #FFF !important;
    border: none !important;
}
#dark-sources-settings .notice-dismiss, #dark-sources-settings .notice-dismiss:hover, .notice-dismiss:active::before, .notice-dismiss:focus::before, .notice-dismiss:hover::before, #bulk-titles div a::before, .notice-dismiss::before, .tagchecklist .ntdelbutton .remove-tag-icon::before, .welcome-panel .welcome-panel-close::before {
    color: #FFF !important;
}
#dark-sources-settings label span {
    color: #24a83a !important;
    font-weight: 300 !important;
}
#dark-sources-settings label.disabled {
    color: #a1a1a1 !important;
}

#dark-sources-settings label.disabled:after {
    content: '(Paid subscription required to disable or create a custom response)' !important; 
    display: inline-block !important;
    color: inherit !important;
    font-weight: 300 !important;
    font-style: italic !important;
    font-size: 14px !important;
    margin-left: 5px !important;
}
#dark-sources-settings .relative {
    position: relative;
}

#dark-sources-settings .relative:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

#dark-sources-settings .flex, #dark-sources-settings #subscription-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#dark-sources-settings .flex strong {
    width: 30% !important;
}
#dark-sources-settings .flex p {
    width: 70% !important;
}
#dark-sources-settings h1 {
    font-weight: 300 !important;
}
#message {
    display: none !important;
}

#dark-sources-settings .plan {
    width: 25%;
    text-align: center;
    margin: 1%;
    padding: 3%;
    background-color: #FFF;
}
#dark-sources-settings .plan h1 {
    text-transform: uppercase !important;
    color: #24a83a !important;
}
#dark-sources-settings .plan strong {
    font-size: 36px !important;
    color:  #24a83a !important;
    margin:20px 0 35px 0;
    text-align: center;
    display: block;
}
#dark-sources-settings .button {
    width: 100% !important;
    border-radius: 0 !important;
    height: auto !important;
    padding: 13px 0 !important;
    margin-top: 25px !important;
}
#dark-sources-settings .red {
    color:red !important;
}

.toplevel_page_dark-sources-admin-menu .dark-sources-opacity{
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(0,0,0,0.50);
    z-index: 10000000;
}
.toplevel_page_dark-sources-admin-menu .dark-sources-opacity .input-wrap{
    width: 50%;
    height: 50%;
    margin: auto;
}

.toplevel_page_dark-sources-admin-menu .dark-sources-opacity .custom-message-button-wrap {
    text-align: right;
}

.toplevel_page_dark-sources-admin-menu .dark-sources-opacity button {
    display: inline-block !important;
    background-color: #24a83a !important;
    border-color: #24a83a !important;
    padding: 10px 30px;
    height: auto;
    border-radius: 10px;
    margin-left: 5px;
}

.toplevel_page_dark-sources-admin-menu .dark-sources-opacity button:hover {
    background-color: #1e9131 !important;
    border-color: #1e9131 !important;
}

.toplevel_page_dark-sources-admin-menu .text-pop-up {
    width: 100%;
    height: 100%;
    margin-bottom:30px;
    padding: 20px;
    border-radius: 20px;
}

.toplevel_page_dark-sources-admin-menu .dark-sources-custom-close {
    cursor: pointer !important;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    color: #24a83a !important;
}

.toplevel_page_dark-sources-admin-menu .input-wrap {
    position: relative;
}

#dark-sources-settings #sales-content {
    padding:2%;
    background-color: #FFF;
    margin-bottom: 15px;
}

/*slider css*/

#registration-information  .input-wrap input[type=range] {
    -webkit-appearance: none !important; /* Hides the slider so that custom slider can be made */
    width: 100% !important; /* Specific width is required for Firefox. */
    background: transparent !important; /* Otherwise white in Chrome */
    height: 90px !important;
    padding: 0 10px !important;
}

#registration-information  .input-wrap input[type=range]::ms

  
#registration-information  .input-wrap input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
}
  
#registration-information  .input-wrap input[type=range]:focus {
    outline: none !important; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
  
#registration-information  .input-wrap input[type=range]::-ms-track {
    width: 100% !important;
    cursor: pointer !important;
    /* Hides the slider so custom styles can be added */
    background: transparent !important; 
    border-color: transparent !important;
    color: transparent !important;
}

#registration-information  .input-wrap input[type=range]::-webkit-slider-thumb {
    box-sizing: content-box !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    border: 19px solid #24a83a !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    background: #FFF !important;
    cursor: pointer !important;
    margin-top: -35px !important;
   
}
  
/* All the same stuff for Firefox */
#registration-information  .input-wrap input[type=range]::-moz-range-thumb {
    box-sizing: content-box !important;
    border: 19px solid #24a83a !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    background: #FFF !important;
    cursor: pointer !important;
    margin-top: 0;
}
  
/* All the same stuff for IE */
#registration-information  .input-wrap input[type=range]::-ms-thumb {
    box-sizing: content-box !important;
    border: 19px solid #24a83a !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    background: #FFF !important;
    cursor: pointer !important ;
    margin: auto !important;
    margin-top: 0;
  }
  
#registration-information  .input-wrap input[type=range]::-webkit-slider-runnable-track {
    width: 100% !important;
    height: 10px !important;
    cursor: pointer !important;
    background: #000 !important;
    border-color: transparent !important;
    border-width: 0 !important;
    color: transparent !important;
    border-radius: 5px !important;
}
  
#registration-information  .input-wrap input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent !important;
}
  
#registration-information  .input-wrap input[type=range]::-moz-range-track {
    width: 100% !important;
    height: 10px !important;
    cursor: pointer !important;
    background: #000 !important;
    border-color: transparent !important;
    border-width: 0 !important;
    color: transparent !important;
    border-radius: 5px !important;
}
  
#registration-information  .input-wrap input[type=range]::-ms-track {
    width: 100% !important;
    height: 10px !important;
    cursor: pointer !important;
    background: #000 !important;
    border-color: transparent !important;
    border-width: 0 !important;
    color: transparent !important;
    border-radius: 5px !important;
}
#registration-information  .input-wrap input[type=range]::-ms-fill-lower {
    background: transparent !important;
    border: none !important;
}
#registration-information  .input-wrap input[type=range]:focus::-ms-fill-lower {
    background: transparent !important;
}
#registration-information  .input-wrap input[type=range]::-ms-fill-upper {
    background: transparent !important;
    border: none !important;
}
#registration-information  .input-wrap input[type=range]:focus::-ms-fill-upper {
    background: transparent !important;
}

@media screen and (max-width:1200px){
    #dark-sources-settings #subscription-wrap, #dark-sources-settings{
        display: block !important;
        width: 100% !important;
        box-sizing: border-box !important;
        padding: 3% !important;
    }
    #dark-sources-settings .plan {
        margin: 0 auto !important;
        width: 100% !important;
        left: 0 !important;
    }
    #dark-sources-settings {
        width: 100% !important;
    }
    #dark-sources-settings input.button {
        margin: 40px auto !important;
    }
    .toplevel_page_dark-sources-admin-menu .auto-fold #wpcontent {
        padding-left: 0 !important;
    }
    #registration-information .flex {
        display: block !important;
    }
    #dark-sources-settings input.number {
        width: 100px !important;
    }
    .toplevel_page_dark-sources-admin-menu #wpcontent {
        padding-left: 0 !important;
    }
    .toplevel_page_dark-sources-admin-menu .dark-sources-opacity .input-wrap {
        width: 90% !important;
    }
}

@media screen and (max-width: 600px) {
    #dark-sources-settings label.disabled::after {
        display: none !important;
    }
    #dark-sources-settings img {
        width: 60%;
        margin-top: 60px;
    }
    .toplevel_page_dark-sources-admin-menu .dark-sources-opacity .input-wrap {
        height: 75% !important;
    }
    .toplevel_page_dark-sources-admin-menu .dark-sources-opacity .custom-message-button-wrap {
        text-align: center;
    }
    
    .toplevel_page_dark-sources-admin-menu .dark-sources-opacity button {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 450px) {
    #dark-sources-settings input.number {
        display: block !important;
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #dark-sources-settings label.number-label {
        width: 100%;
        text-align: center !important;
    }
    .toplevel_page_dark-sources-admin-menu .auto-fold #wpcontent {
        padding-left: 0 !important;
    }
}
